.header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 140px;
    padding-right: 140px;
    background-color: #1C2B35;

}

.header a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-right: 36px;
}

.header a:hover {
    color: orange;
}